name: Lint commits on dev

on:
  push:
    branches:
      - dev

jobs:
  lint_commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.mjs
